/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@mixin iphone5($width) {
    /* Portrait and Landscape */
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
        width: $width !important;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@mixin iphone6($width) {
   /* Portrait and Landscape */
   @media only screen 
   and (min-device-width: 375px) 
   and (max-device-width: 667px) 
   and (-webkit-min-device-pixel-ratio: 2) { 
    width: $width !important;
   }
}

.registration-container {
    display: flex;
    @media only screen 
    and (max-device-width: 1080px)
    and (-webkit-min-device-pixel-ratio: 2) {
        justify-content: center;
    }
}

.image-banner {
    max-width: 100%;
    height: auto;
}

.body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34.5rem;
    margin: 0 aut0;


    @media (min-width: 800px) {
        margin-left: 17rem !important;
    }

    @include iphone6(20rem);
    
    -webkit-box-shadow: -1px 2px 5px 4px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 2px 5px 4px rgba(0,0,0,0.22);
    box-shadow: -1px 2px 5px 4px rgba(0,0,0,0.22);
}

.registration-form-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 1rem 0;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.input-form-field {
    padding: 0 2rem;
    margin-bottom: .1rem;
}

.map-container {
    display: flex;
    flex-direction: column;
    padding: .3rem 2rem;
}

.location-message {
    margin-bottom: .5rem;
    font-size: .8rem;
}

agm-map {
    height: 10rem;
}

.submit-btn {
    margin-top: 1rem;
    align-self: center;
    width: 15rem;
}

// Video Section
.section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;

    // @media only screen 
    // and (min-device-width: 320px) 
    // and (max-device-width: 480px)
    // and (-webkit-min-device-pixel-ratio: 2) {
    //     justify-content: center;
    // }
}

.body-content {
    z-index: 2;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

video { 
    object-fit: fill;
    height: 100vh; 
    min-height: 100%;
}

.control {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #a1a1a1;
    z-index: 3;
    padding: 2px;
    border-radius: 3px;
}

.mat-raised-button {
    padding: 0;
}